<h1>Editing Entry</h1>

<%= render 'form' %> <%# renderメソッド form の読み込み%>

<%= link_to 'Show', @entry %> | <%# link_to メソッド 詳細表示のURL取得%>
<%= link_to 'Back', entries_path %> <%# link_to メソッド 一覧表示のURL取得%>
